*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #efefef;
    overflow-x: hidden;

}

header {
    background-color: white;
    height: 70px;
    box-shadow: 2px 2px 2px rgb(223, 223, 223);
    display: flex;
}
nav {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: teal;
    cursor: pointer;
}

menu {
  
  display: flex;
  align-items: center;
  gap: 30px !important;
}

a {
    font-weight: bold;

}

a:hover {
    color: teal;
}

.postsContainer {
 width: 100vw;
 padding: 30px;
}

.postsCards {
    display: flex;
    flex-wrap: wrap;
 
}
.singlePost {
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(223, 223, 223);
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.singlePost img {
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.singlePost span {
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}
.desc {
    text-align: justify;
    margin-top: 5px;
}
.ReadMorelink {
    margin: 10px auto;
}
.postsContainerView {
    display: flex;

}
.singlePostView {
        margin: auto;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        width: 80%;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
}

.singlePostView img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.noPost {
    width: 100vw;
    text-align: center;
    font-size: 18px;
    
}

h1 {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

span {
    text-transform: capitalize;
    cursor: pointer;
}

.container {
    height: calc(100vh - 70px);
    display: flex;
}

form {
    margin: auto;
    margin-top: 15px;
    width: 40%;
    background-color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(148, 148, 148);
}

h3 {
    text-align: center;
    color: teal;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

input, select, textarea {
  padding: 10px;
  border: 0.5px solid lightgray;
  border-radius: 5px;

}

input:focus, select:focus, textarea:focus{
    outline: none;
    background-color: rgb(240, 237, 237);
}

textarea {
    height: 200px;
    font-size: 17px;
}

button {
    background-color: teal;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover , button a:hover {
    background-color: rgb(3, 164, 164);
    color: #fff;
   
}

.main-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
}

@media (max-width: 560px){
    header {
        height: auto;
    }
  nav {
     flex-direction: column;
  }
  .logo {
     margin-bottom: 5px;
  }

  menu {
      justify-content: space-between;
      width: 100%;
  }
  form {
      width: 90%;
    
    }
}